<?xml version="1.0" encoding="UTF-8"?>
<configuration trace="true">

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/logs/GeneralLog</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="DT-FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/logs/DecisionTree.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="decisionTree" level="DEBUG" additivity="false">
        <appender-ref ref="DT-FILE"/>
    </logger>

    <logger name="org.mongodb.driver.protocol" level="ERROR" additivity="false" />


    <root level="DEBUG">
        <appender-ref ref="FILE" />
    </root>

</configuration>