<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="">
<head>
    <meta charset="UTF-8" />
    <title></title>

</head>
<body>
    <div>Decision Tree</div>
    <div class="tree">
        <ul>
            <li>
                <a href="#" th:text="${DecisionTree.getRoot().getNodeId()}"></a>
                <ul layout:include="@{./menuFragment} :: menu" th:with="Nodes=${DecisionTree.getRoot().getChildren()}"></ul>
            </li>
        </ul>
    </div>
</body>
</html>